<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin StelleVere</title>
  </head>
  <body>
    <h1>Admin StelleVere</h1>
    <ul>
      <% modules.forEach(function(moduleName) { %>
        <li><%= moduleName %></li>
      <% }) %>
    </ul>
  </body>
</html>
